// サイト全体で使う色を変数と指定定義
// よく使う色を定義し、たまに使う色は個別指定する

// // デザインの時点で色の使われ方が決まっていない場合はc-, 決まっている場合はbg-やtext-といった接頭辞を積極的に使う

// プライマリーカラー（メインカラー）
$c-primary: #134264;
// プライマリーバリアント（サブカラー）
$c-p-variant: #f5f5f5;
// アクセントカラー（セカンダリーカラー）
$c-accent: #c0b55b;

$c-red: #f10116;
$c-blue: #0090da;
$c-yellow: #fcdf01;
$c-orange: #ff8c1e;
$c-emphasis: #1e1e1e;
